[Unit]
Description=Refresh TDX certificate
After=cocoon-ready.target
Requires=cocoon-ready.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gen-cert-synced --tdx tdx --name /etc/tdx/tdx --force
