[Match]
Kind=!*
Type=ether

[Network]
DHCP=ipv4
IPv6AcceptRA=no

[DHCPv4]
UseDNS=yes
UseGateway=yes

UseNTP=no
UseSIP=no
UseCaptivePortal=no
UseHostname=no
UseDomains=no
UseRoutes=no
