[Unit]
Description=TDX router

[Service]
Type=simple
ExecStart=/usr/bin/router -R 11001:localhost:11101@tdx -R 11002:localhost:11102@any --serialize-info -C /etc/tdx/tdx
StandardOutput=journal+console
StandardError=journal+console

# Resource accounting (for health-monitor)
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes
